/AgenciaBancariaController.java
/AgenciaBancariaDTOConverter.java
/AgenciaBancariaEntity.java
/AgenciaBancariaListFilterPredicate.java
/AgenciaBancariaListFilterPredicateImpl.java
/AgenciaBancariaRepository.java
/AgenciaBancariaService.java
/AgenciaBancariaServiceImpl.java
