/agenciabancaria.model.ts
/agenciabancaria.service.ts
/crud-agenciabancaria.component.css
/crud-agenciabancaria.component.html
/crud-agenciabancaria.component.ts
/list-agenciabancaria.component.css
/list-agenciabancaria.component.html
/list-agenciabancaria.component.ts
